<mat-card >
    <mat-card-title>
        List of Projects
    </mat-card-title>
    <mat-card-content fxLayout.gt-xs="row" fxLayout.lt-sm="column" 
    fxLayoutWrap  fxLayoutGap='25px'>
        <mat-card fxFlex.gt-sm="calc(50% - 25px)" fxFlex.lt-sm='calc(100% - 25px)' >
            <mat-card-title>
                Projects
            </mat-card-title>
            <mat-card-content>
                <mat-list>
                    <mat-list-item>first</mat-list-item>
                    <mat-list-item>Second</mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </mat-card-content>
</mat-card>
