<div class="dash-container" fxLayout="row" fxLayoutGap="20px" fxLayoutWrap>
    <mat-card fxFlex="calc(50% - 100px)">
        <mat-card-title>
            Projects
        </mat-card-title>
        <mat-card-content>
            <mat-list>
                <mat-list-item>first</mat-list-item>
                <mat-list-item>Second</mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>
    <mat-card  fxFlex="calc(50% - 100px)">
        <mat-card-title>
            Projects 2
        </mat-card-title>
        <mat-card-content>
            <mat-list>
                <mat-list-item>first</mat-list-item>
                <mat-list-item>Second</mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>
    <mat-card  fxFlex="calc(50% - 100px)">
        <mat-card-title>
            Projects 2
        </mat-card-title>
        <mat-card-content>
            <mat-list>
                <mat-list-item>first</mat-list-item>
                <mat-list-item>Second</mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>
</div>